.sidebar {
  background-color: #152259;
  position: sticky;
  overflow-y: auto;
}
.studentDet {
  display: none;
}
body {
  overflow-x: hidden;
  
}

.studentDetShop {
  display: block;
}
/* .studentdetails {
  text-decoration: none;
  border: 10px solid whitesmoke;
  background-color: black;
  padding: 3px;
  margin-left: 18%; */

​ span {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  justify-content: center;
  color: aliceblue;
}
button {
  background-color: #1d2e77;
  border-radius: 5px;
  color: antiquewhite;
}
.btn0 {
  margin-left: 4%;
  margin-right: 4%;
}
.btn1 {
  margin-bottom: 2%;
  margin-top: 2%;
  margin-left: 4%;
  margin-right: 4%;
}
.btn2 {
  margin-left: 4%;
  margin-right: 4%;
}
.btn3 {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.btn4 {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.btn5 {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.btn6 {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.btn7 {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 2%;
  margin-bottom: 2%;
}
​ .logouticon {
  color: aliceblue;
  padding-right: 5px;
}
.srslogo {
  width: 85px;
  height: 100px;
  display: flex;
  margin-left: 35%;
}
.srs {
  width: fit-content;
  color: rgb(12, 13, 13);
  padding: 8%;
  font-size: 100%;
  margin-left: 8%;
  color: antiquewhite;
}
.class {
  padding-right: 10%;
}
.schoolicon {
  margin-left: 10%;
}
